.navbar > ul {
    list-style-type: none;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
}

body {
    background-color: aliceblue;
    color:midnightblue
}

section {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

