#measurements{
    border: solid 5px black;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 96%;
    height:50vh;
    overflow-x: scroll;
    gap: 10vmin;
    /* gap: 5vmin; */
    /* height: 50vh; */
}

.box{
    border:red solid 1px;
    height: 15vmin;
    width: 15vmin;
    display:flex;
}


/* .rem-size{
    font-size: 2em;
} */